:root {
  --color-main: #581e44;
  --color-text: #e0ffcc;
  --color-button: #c5485a;
  --color-background: #171133;
}

* {
  box-sizing: border-box;
  font-family: 'Courier New', 'Trebuchet MS', Arial;
  color: var(--color-text);
}

body {
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}

section {
  min-height: 90vh;
}