.selectSign {
  padding: 2rem;
}

.selectSign h1 {
  text-align: center;
  margin: 1rem;
  font-size: 3rem;
}

.signOptions {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-auto-rows: auto;
}

.signOptions p {
  font-size: 2rem;
  line-height: 3rem;
  margin: 0;
  text-align: center;
  transition: .2s;
}

.signOptions p:hover {
  cursor: pointer;
  background-color: var(--color-main);
}

.horoscope {
  background-color: var(--color-main);
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
}

.date {
  width: 100%;
  text-align: center;
}

.date h1 {
  margin: 0;
  font-size: 2rem;
}

.lucky {
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
}

.description {
  background-color: var(--color-background);
  padding: 1rem;
  border-radius: 2rem;
}

.description p {
  margin: 0;
  font-size: 1rem;
}